<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-todo-sample</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="todoApp" v-cloak>
    <h2 :style="fontStyle">{{ title }}</h2>
    <input type="text" v-model="todo" @keyup.enter="addTodo">
    <span> done {{ dones }} / {{todos.length}} task</span>
    <todo-template v-for="todo in todos" :key="todo.id" :todo="todo" @todochanged="count"></todo-template>
  </div>
  <script type="text/x-template" id="todo-template">
    <div v-bind:class="['todo-default', done ? 'todo-done' : '']" v-on:click="finish">
      {{todo.name}}
    </div>
  </script>
  <style>
    .todo-default {
      padding: 5px;
      border-bottom: 1px solid silver;
    }
    .todo-done {
      text-decoration: line-through
    }
  </style>
  <script>
  Vue.component('todo-template', {
    props: ['todo'],
    data: function() {
      return {
        done: false
      }
    },
    template: '#todo-template',
    methods: {
      finish: function() {
        this.done = !this.done
        this.$emit('todochanged', this.done)
      }
    }
  })

  var app = new Vue({
    el: '#todoApp',
    data: {
      title: 'Welcome to Vue.js',
      fontStyle: {
        fontSize: '20px'
      },
      todo: "",
      todos: [],
      dones: 0
    },
    methods: {
      addTodo: function(){
        this.todos.push({
          id: this.todos.length,
          name: this.todo,
          done: false
        })
        this.todo = ""
      },
      count: function(done) {
        this.dones += done ? 1 : -1;
      }
    }
  })
  </script>
</body>
</html>
